n8n/luna-chat-workflow.json
{"nodes": [{"parameters": {"httpMethod": "POST", "path": "luna-chat", "responseMode": "lastNode", "options": {}}, "id": "webhook-1", "name": "Webhook In", "position": [0, 0], "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "webhookId": "623f0364-3cf5-4ce0-ba67-dcaab7cb46c6"}, {"parameters": {"options": {"systemMessage": "=VocÛ Ú a Luna, uma terapeuta digital de sa·de mental fundamentada na Terapia Cognitivo-Comportamental (TCC). \n\nSempre que o usußrio perguntar sobre o teste, triagem, anamnese ou como ele estß baseado no que respondeu, vocÛ DEVE seguir estes passos usando suas ferramentas:\n1. Use 'Get User Anamnesis' filtrando pelo clinical_id (IDENTIFICADOR PRINCIPAL: {{ $json.body?.clinicalId || $json.clinicalId }}).\n2. Use 'Get SRQ Questions Mapping' para saber o texto de cada pergunta (ex: pergunta 1 -> 'Dores de cabeþa').\n3. Combine as informaþ§es para dar um acolhimento personalizado.\n\n4. Para lembrar de conversas anteriores fora da mem¾ria imediata, use 'ChatHistoryTool' filtrando pelo clinical_id do usußrio em outras sess§es.\n\nREGRAS CR═TICAS:\n- O clinicalId atual Ú: {{ $json.body?.clinicalId || $json.clinicalId }}. Use este ID para TODOS os filtros no banco.\n- VocÛ TEM ACESSO a esses dados clÝnicos e de hist¾rico atravÚs das suas ferramentas. Nunca diga que nÒo tem acesso.\n- Se nÒo encontrar dados para o clinicalId, pergunte gentilmente se o usußrio jß completou a anamnese.\n- Seja empßtica e use TCC para acolher."}}, "id": "agent-1", "name": "AI Agent", "position": [650, 0], "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3.1}, {"parameters": {"modelName": "models/gemini-flash-latest", "options": {}}, "id": "gemini-1", "name": "Google Gemini", "position": [650, 200], "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "credentials": {"googlePalmApi": {"id": "sDjyp9WnCdf9ywrJ", "name": "Gemini Takeo"}}}, {"parameters": {"sessionIdType": "customKey", "sessionKey": "={{ $json.body?.sessionId || $json.sessionId || 'default-session' }}"}, "id": "memory-1", "name": "Memory", "position": [800, 200], "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow", "typeVersion": 1.3}, {"id": "tool-supabase-anamnesis", "name": "Get User Anamnesis", "type": "n8n-nodes-base.supabaseTool", "typeVersion": 1, "position": [400, 200], "parameters": {"operation": "getAll", "resource": "row", "tableId": "anamnesis_responses"}, "credentials": {"supabaseApi": {"id": "ppOSdky1KevaDp5X", "name": "Luna"}}}, {"id": "tool-supabase-questions", "name": "Get SRQ Questions Mapping", "type": "n8n-nodes-base.supabaseTool", "typeVersion": 1, "position": [400, 350], "parameters": {"operation": "getAll", "resource": "row", "tableId": "srq_questions"}, "credentials": {"supabaseApi": {"id": "ppOSdky1KevaDp5X", "name": "Luna"}}}, {"parameters": {"operation": "getAll", "resource": "row", "tableId": "chat_messages"}, "id": "tool-supabase-history-new", "name": "ChatHistoryTool", "type": "n8n-nodes-base.supabaseTool", "typeVersion": 1, "position": [400, 500], "credentials": {"supabaseApi": {"id": "ppOSdky1KevaDp5X", "name": "Luna"}}}], "connections": {"Google Gemini": {"ai_languageModel": [[{"index": 0, "node": "AI Agent", "type": "ai_languageModel"}]]}, "Memory": {"ai_memory": [[{"index": 0, "node": "AI Agent", "type": "ai_memory"}]]}, "Webhook In": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]}, "Get User Anamnesis": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]}, "Get SRQ Questions Mapping": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]}, "ChatHistoryTool": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]}}, "name": "Luna", "settings": {"executionOrder": "v1", "binaryMode": "separate", "availableInMCP": false, "callerPolicy": "workflowsFromSameOwner"}}
